<h1 style = "text-indent: 0px">About Me</h1>
<p style = "text-indent: 0px">Hi! I'm a privacy advocating Void Linux user who's trying to make Xerix, a Unix-like OS with a collection of tools, among other projects.</p>
<p></p>
<p style = "text-indent: 0px">This website may contain stuff about coding or just whatever I'm interested in at the moment.</p>
<p></p>
<h1 style = "text-indent: 0px">Links:</h1>
<li style = "text-indent: 40px">Git:</li>
<p style = "text-indent: 40px"><a href="htts://codeberg.org/RustedTerrier">htts://codeberg.org/RustedTerrier</a></p>
<li style = "text-indent: 40px">IRC:</li>
<p style = "text-indent: 40px">rsterrier on libera.chat <i>NOTE: I'm almost never active</i></i></p>

