<h1 style = "text-indent: 0px">AOVA: a custom speaking language</h1>
<hr>
<h2 style = "text-indent: 0px">Vowels</h2>
<table style="margin-left:0px" border="1 | 0">
<tr>
<td>a </td>
<td> i </td>
<td> o</td></tr>
</table>
<p></p>
<h2 style = "text-indent: 0px">Consonants</h2>
<table style="margin-left:0px" border="1 | 0">
<tr>
<td>d </td>
<td> p </td>
<td> w </td>
<td> l </td>
<td> t</td></tr>
<tr>
<td>r </td>
<td> q </td>
<td> v </td>
<td> g </td>
<td> z</td></tr>
<tr>
<td>n </td>
<td> y </td>
<td> k </td>
<td> s </td>
<td> h</td></tr>
</table>
<p></p>
<h2 style = "text-indent: 0px">Conjugating Verbs:</h2>
<h3 style = "text-indent: 0px">Subject</h3>
<table style="margin-left:0px" border="1 | 0">
<tr>
<td>     </td>
<td> You </td>
<td> I   </td>
<td> They</td></tr>
<tr>
<td>You  </td>
<td> A+  </td>
<td> Ao+ </td>
<td> Ai+</td></tr>
<tr>
<td>I    </td>
<td> Ao+ </td>
<td> O+  </td>
<td> Io+</td></tr>
<tr>
<td>They </td>
<td> Ai+ </td>
<td> Io+ </td>
<td> I+</td></tr>
</table>
<h3 style = "text-indent: 0px">Tenses</h3>
<table style="margin-left:0px" border="1 | 0">
<tr>
<td>          </td>
<td> Past </td>
<td> Present </td>
<td> Future</td></tr>
<tr>
<td>Perfect   </td>
<td> Ka+  </td>
<td> Ki+     </td>
<td> Ko+</td></tr>
<tr>
<td>Imperfect </td>
<td> Na+  </td>
<td> Ni+     </td>
<td> No+</td></tr>
</table>
<p style = "text-indent: 0px">This then goes with the subject then the tense, then the verb.</p>
<p style = "text-indent: 0px">Va is the verb for say. In order to write, "we will keep saying," one would write "Aonova." To write "Jim and I spoke" one would write "Iokava."</p>
<p></p>
<h2 style = "text-indent: 0px">Conjugating sentences:</h2>
<p style = "text-indent: 0px">In oder to write "I spoke to you" one would write "A Okava." This is because the object comes first. "A" means you and "Okava" means "I spoke".</p>
<p></p>
<h2 style = "text-indent: 0px">Counting Objects:</h2>
<table style="margin-left:0px" border="1 | 0">
<tr>
<td>1 </td>
<td> 2   </td>
<td> 3</td></tr>
<tr>
<td>  </td>
<td> +na </td>
<td> +no</td></tr>
</table>
<p style = "text-indent: 0px">1 banana, 2 bananana, 3 or more bananano</p>
<p></p>
<h2 style = "text-indent: 0px">Opposites:</h2>
<p style = "text-indent: 0px">To indicate an opposite it is usually Oz+opposite. For example, the word for good is "Qan", and the word for bad is "Ozqan". This works because "Oz" is the word for opposite and the 2 words just get connected.</p>
<h2 style = "text-indent: 0px">Word converter:</h2>
<p style = "text-indent: 0px">Words starting with o are usually adjectives, and words staring with a are usually nouns. Verbs never start with a vowel. In the event that a word is a noun and an adjective, it starts with either one. This is done because as the language is used, some words develop multiple meanings, and changing the word after that is unreasonable.</p>
<li style = "text-indent: 40px">Be        -> Za</li>
<li style = "text-indent: 40px">Make      -> Ga</li>
<li style = "text-indent: 40px">Say       -> Va</li>
<li style = "text-indent: 40px">Gather    -> Qa</li>
<li style = "text-indent: 40px">Know      -> Ra</li>
<li style = "text-indent: 40px">See       -> Ta</li>
<li style = "text-indent: 40px">Come      -> La</li>
<li style = "text-indent: 40px">Use       -> Wa</li>
<li style = "text-indent: 40px">Work      -> Pa</li>
<li style = "text-indent: 40px">Want      -> Da</li>
<li style = "text-indent: 40px">Think     -> Ro (Also means to be unsure)</li>
<li style = "text-indent: 40px">Give      -> Go</li>
<li style = "text-indent: 40px">Important -> Olkana</li>
<li style = "text-indent: 40px">Core      -> Alkana</li>
<li style = "text-indent: 40px">Gist      -> Alkani</li>
<li style = "text-indent: 40px">Human     -> Avano</li>
<li style = "text-indent: 40px">Baby      -> Ayoki</li>
<li style = "text-indent: 40px">Plant     -> Ariqa</li>
<li style = "text-indent: 40px">Seed      -> Arovka</li>
<li style = "text-indent: 40px">Kernel    -> Avoni</li>
<li style = "text-indent: 40px">Library   -> Asayo</li>

