<h1 style = "text-indent: 0px">Forest</h1>
<hr>
<h2 style = "text-indent: 0px">Enemies</h2>
<table style="margin-left:0px" border="1 | 0">
<tr>
<td>Name       </td>
<td> Health </td>
<td> Attack </td>
<td> Defense </td>
<td> Speed </td>
<td> Level</td></tr>
<tr>
<td>Ratt       </td>
<td>      1 </td>
<td>      2 </td>
<td>       1 </td>
<td>     4 </td>
<td>     1</td></tr>
<tr>
<td>Wolf       </td>
<td>      2 </td>
<td>      2 </td>
<td>       1 </td>
<td>     2 </td>
<td>     1</td></tr>
<tr>
<td>Wolf       </td>
<td>      2 </td>
<td>      2 </td>
<td>       2 </td>
<td>     2 </td>
<td>     2</td></tr>
<tr>
<td>Owl        </td>
<td>      1 </td>
<td>      2 </td>
<td>       2 </td>
<td>     4 </td>
<td>     2</td></tr>
<tr>
<td>Warg       </td>
<td>      3 </td>
<td>      3 </td>
<td>       3 </td>
<td>     3 </td>
<td>     3</td></tr>
<tr>
<td>Eagle      </td>
<td>      2 </td>
<td>      3 </td>
<td>       2 </td>
<td>     5 </td>
<td>     3</td></tr>
<tr>
<td>Bear       </td>
<td>      3 </td>
<td>      5 </td>
<td>       5 </td>
<td>     1 </td>
<td>     4</td></tr>
<tr>
<td>Giant Owl  </td>
<td>      3 </td>
<td>      3 </td>
<td>       3 </td>
<td>     5 </td>
<td>     4</td></tr>
<tr>
<td>Bandit     </td>
<td>      3 </td>
<td>      5 </td>
<td>       3 </td>
<td>     4 </td>
<td>     5</td></tr>
<tr>
<td>Archer     </td>
<td>      3 </td>
<td>      5 </td>
<td>       2 </td>
<td>     5 </td>
<td>     5</td></tr>
<tr>
<td>Warg Rider </td>
<td>      4 </td>
<td>      4 </td>
<td>       4 </td>
<td>     4 </td>
<td>     6</td></tr>
<tr>
<td>Soldier    </td>
<td>      2 </td>
<td>      6 </td>
<td>       4 </td>
<td>     1 </td>
<td>     6</td></tr>
<tr>
<td>Soldiers   </td>
<td>      5 </td>
<td>      6 </td>
<td>       4 </td>
<td>     2 </td>
<td>     7</td></tr>
<tr>
<td>Spearmen   </td>
<td>      4 </td>
<td>      7 </td>
<td>       5 </td>
<td>     3 </td>
<td>     7</td></tr>
<tr>
<td>Doleney    </td>
<td>      6 </td>
<td>      5 </td>
<td>       7 </td>
<td>     6 </td>
<td>     8</td></tr>
<tr>
<td>Klorx      </td>
<td>      4 </td>
<td>      7 </td>
<td>       8 </td>
<td>     7 </td>
<td>     8</td></tr>
</table>
<hr>
<h2 style = "text-indent: 0px">Weapons</h2>
<h3 style = "text-indent: 40px">Warrior</h3>
<table style="margin-left:40px" border="1 | 0">
<tr>
<td>Name              </td>
<td> Damage </td>
<td> Speed </td>
<td> Level </td>
<td> DMG Type </td>
<td> Description</td></tr>
<tr>
<td>Wooden Axe        </td>
<td>      2 </td>
<td>     1 </td>
<td>     1 </td>
<td> Physical </td>
<td> The carver had a lot of wood.</td></tr>
<tr>
<td>Iron Sword        </td>
<td>      2 </td>
<td>     2 </td>
<td>     2 </td>
<td> Physical </td>
<td> Merciless Steel.</td></tr>
<tr>
<td>Bronze Sword      </td>
<td>      3 </td>
<td>     2 </td>
<td>     3 </td>
<td> Physical </td>
<td> From the far lands of tin land.</td></tr>
<tr>
<td>Bone Sword        </td>
<td>      3 </td>
<td>     3 </td>
<td>     4 </td>
<td> Physical </td>
<td> Morals are for peasants.</td></tr>
<tr>
<td>Wooden Club       </td>
<td>      6 </td>
<td>     2 </td>
<td>     5 </td>
<td> Physical </td>
<td> Thats a lot of wood.</td></tr>
<tr>
<td>Ancient Oak Spear </td>
<td>      4 </td>
<td>     2 </td>
<td>     6 </td>
<td>     True </td>
<td> Forest Keepers</td></tr>
<tr>
<td>Big Flower        </td>
<td>      5 </td>
<td>     1 </td>
<td>     7 </td>
<td>   Debuff </td>
<td> Poison is poisonous.</td></tr>
<tr>
<td>Call of the Night </td>
<td>      2 </td>
<td>     1 </td>
<td>     8 </td>
<td>  Shatter </td>
<td> With a weapon like this, any Paladin will ascend.</td></tr>
</table>
<h3 style = "text-indent: 40px">Rogue</h3>
<table style="margin-left:40px" border="1 | 0">
<tr>
<td>Name          </td>
<td> Damage </td>
<td> Speed </td>
<td> Level </td>
<td> DMG Type </td>
<td> Description</td></tr>
<tr>
<td>Razor Leaf    </td>
<td>      1 </td>
<td>     4 </td>
<td>     1 </td>
<td>   Debuff </td>
<td> This is broken.</td></tr>
<tr>
<td>Shiv          </td>
<td>      3 </td>
<td>     4 </td>
<td>     2 </td>
<td> Physical </td>
<td> Cut straight through a trigger finger.</td></tr>
<tr>
<td>Sharp Stick   </td>
<td>      3 </td>
<td>     5 </td>
<td>     3 </td>
<td> Physical </td>
<td> Stick smashed face</td></tr>
<tr>
<td>Blue Dagger   </td>
<td>      5 </td>
<td>     4 </td>
<td>     4 </td>
<td> Physical </td>
<td> It glows...</td></tr>
<tr>
<td>Ravager       </td>
<td>      3 </td>
<td>     7 </td>
<td>     5 </td>
<td> Physical </td>
<td> A sword without a sheath</td></tr>
<tr>
<td>Thorned Blade </td>
<td>      2 </td>
<td>     6 </td>
<td>     6 </td>
<td>   Debuff </td>
<td> Forged to kill.</td></tr>
<tr>
<td>The Meme Tree </td>
<td>      7 </td>
<td>     1 </td>
<td>     7 </td>
<td> Physical </td>
<td> What should Caleb do?</td></tr>
<tr>
<td>Rusty Dagger  </td>
<td>      4 </td>
<td>     8 </td>
<td>     8 </td>
<td> Physical </td>
<td> cargo run --release</td></tr>
</table>
<h3 style = "text-indent: 40px">Wizard</h3>
<table style="margin-left:40px" border="1 | 0">
<tr>
<td>Name              </td>
<td> Damage </td>
<td> Speed </td>
<td> Level </td>
<td> DMG Type </td>
<td> Description</td></tr>
<tr>
<td>Spell of Sparking </td>
<td>      1 </td>
<td>     1 </td>
<td>     1 </td>
<td>     True </td>
<td> Fixed it in 1.4.</td></tr>
<tr>
<td>Pepper Sprayer    </td>
<td>      2 </td>
<td>     2 </td>
<td>     2 </td>
<td>   Debuff </td>
<td> Wait! This isn't magic!</td></tr>
<tr>
<td>Thorn Sword       </td>
<td>      3 </td>
<td>     2 </td>
<td>     3 </td>
<td> Physical </td>
<td> Out of thin air...</td></tr>
<tr>
<td>Pet Bear          </td>
<td>      5 </td>
<td>     1 </td>
<td>     4 </td>
<td> Physical </td>
<td> Summoned for your command.</td></tr>
<tr>
<td>Root Controller   </td>
<td>      5 </td>
<td>     2 </td>
<td>     5 </td>
<td> Physical </td>
<td> Some may call it a RAT.</td></tr>
<tr>
<td>Forest Essence    </td>
<td>      3 </td>
<td>     6 </td>
<td>     6 </td>
<td>     True </td>
<td> Solitary trees grow strong.</td></tr>
<tr>
<td>Log Tosser        </td>
<td>      1 </td>
<td>     1 </td>
<td>     7 </td>
<td>  Shatter </td>
<td> OP to the max.</td></tr>
<tr>
<td>Leaf Storm Spell  </td>
<td>      8 </td>
<td>     3 </td>
<td>     8 </td>
<td> Physical </td>
<td> That one grass lizard.</td></tr>
</table>
<h3 style = "text-indent: 40px">Bard</h3>
<table style="margin-left:40px" border="1 | 0">
<tr>
<td>Name              </td>
<td> Damage </td>
<td> Speed </td>
<td> Level </td>
<td> DMG Type </td>
<td> Description</td></tr>
<tr>
<td>Oak Lute          </td>
<td>      1 </td>
<td>     4 </td>
<td>     1 </td>
<td>     True </td>
<td> Better acoustics.</td></tr>
<tr>
<td>Grass String Lute </td>
<td>      1 </td>
<td>     5 </td>
<td>     2 </td>
<td>     True </td>
<td> Rectreem.</td></tr>
<tr>
<td>Bark Cymbal       </td>
<td>      2 </td>
<td>     5 </td>
<td>     3 </td>
<td>     True </td>
<td> Bark at the moon.</td></tr>
<tr>
<td>Bark Bass-Lute    </td>
<td>      3 </td>
<td>     2 </td>
<td>     4 </td>
<td>     True </td>
<td> As if dead man didn't have all eternity.</td></tr>
<tr>
<td>Wolf Growl Vocals </td>
<td>      3 </td>
<td>     3 </td>
<td>     5 </td>
<td>     True </td>
<td> It isn't a wolf... it's a werewolf!</td></tr>
<tr>
<td>Vine String Lute  </td>
<td>      1 </td>
<td>     8 </td>
<td>     6 </td>
<td>     True </td>
<td> Still a piece of garbage.</td></tr>
<tr>
<td>Anno 1503         </td>
<td>      3 </td>
<td>     6 </td>
<td>     7 </td>
<td>     True </td>
<td> Born with fear.</td></tr>
<tr>
<td>Death Pick        </td>
<td>      2 </td>
<td>     8 </td>
<td>     8 </td>
<td>     True </td>
<td> Scream bloody gore.</td></tr>
</table>
<hr>
<h2 style = "text-indent: 0px">Armor</h2>
<h3 style = "text-indent: 40px">Warrior</h3>
<table style="margin-left:40px" border="1 | 0">
<tr>
<td>Name             </td>
<td> Defense </td>
<td> Speed </td>
<td> Level </td>
<td> Description</td></tr>
<tr>
<td>Leaf Cloak       </td>
<td>       1 </td>
<td>     4 </td>
<td>     1 </td>
<td> So light and useless.</td></tr>
<tr>
<td>Moss Gloves      </td>
<td>       2 </td>
<td>     2 </td>
<td>     2 </td>
<td> ...</td></tr>
<tr>
<td>Bark Chestplate  </td>
<td>       3 </td>
<td>     4 </td>
<td>     3 </td>
<td> Iced Earth.</td></tr>
<tr>
<td>Mossy Iron Plate </td>
<td>       5 </td>
<td>     2 </td>
<td>     4 </td>
<td> ...</td></tr>
<tr>
<td>The Woodman      </td>
<td>       6 </td>
<td>     2 </td>
<td>     5 </td>
<td> If you only had a heart. </td></tr>
<tr>
<td>Bark Shield      </td>
<td>       4 </td>
<td>     5 </td>
<td>     6 </td>
<td> Twilight sucks.</td></tr>
<tr>
<td>Mossy Bronze     </td>
<td>       6 </td>
<td>     4 </td>
<td>     7 </td>
<td> Made with special ingredient tin.</td></tr>
<tr>
<td>Rusty Shield     </td>
<td>       6 </td>
<td>     6 </td>
<td>     8 </td>
<td> Rustup default</td></tr>
</table>
<h3 style = "text-indent: 40px">Rogue</h3>
<table style="margin-left:40px" border="1 | 0">
<tr>
<td>Name             </td>
<td> Defense </td>
<td> Speed </td>
<td> Level </td>
<td> Description</td></tr>
<tr>
<td>Moss Cape        </td>
<td>       1 </td>
<td>     5 </td>
<td>     1 </td>
<td> Mossy.</td></tr>
<tr>
<td>Grass Cape       </td>
<td>       1 </td>
<td>     6 </td>
<td>     2 </td>
<td> Grasshole.</td></tr>
<tr>
<td>Vine-Fabric-Cape </td>
<td>       1 </td>
<td>     7 </td>
<td>     3 </td>
<td> ...</td></tr>
<tr>
<td>Leaf Cape        </td>
<td>       1 </td>
<td>     8 </td>
<td>     4 </td>
<td> ...</td></tr>
<tr>
<td>Mossy Tin Shield </td>
<td>       2 </td>
<td>     7 </td>
<td>     5 </td>
<td> I don't know, my dealer won't tell where he gets it.</td></tr>
<tr>
<td>Bark Shield      </td>
<td>       4 </td>
<td>     5 </td>
<td>     6 </td>
<td> Twilight sucks</td></tr>
<tr>
<td>Stick Cape       </td>
<td>       3 </td>
<td>     8 </td>
<td>     7 </td>
<td> ITFED</td></tr>
<tr>
<td>Rusty Shield     </td>
<td>       5 </td>
<td>     8 </td>
<td>     8 </td>
<td> Rustup default nightly</td></tr>
</table>
<h3 style = "text-indent: 40px">Wizard</h3>
<table style="margin-left:40px" border="1 | 0">
<tr>
<td>Name            </td>
<td> Defense </td>
<td> Speed </td>
<td> Level </td>
<td> Description</td></tr>
<tr>
<td>SS Asayo        </td>
<td>       2 </td>
<td>     2 </td>
<td>     1 </td>
<td> Simple and readable.</td></tr>
<tr>
<td>UXO Asayo       </td>
<td>       3 </td>
<td>     2 </td>
<td>     2 </td>
<td> Optimized for small size.</td></tr>
<tr>
<td>DOA Asayo       </td>
<td>       3 </td>
<td>     3 </td>
<td>     3 </td>
<td> One of the first Asayos.</td></tr>
<tr>
<td>Mono Alkani     </td>
<td>       2 </td>
<td>     6 </td>
<td>     4 </td>
<td> An Alkani and Asayo in one spell.</td></tr>
<tr>
<td>Hardened Alkani </td>
<td>       6 </td>
<td>     2 </td>
<td>     5 </td>
<td> Hardened and defensive.</td></tr>
<tr>
<td>Micro Alkani    </td>
<td>       7 </td>
<td>     1 </td>
<td>     6 </td>
<td> Smaller Alkani by moving parts to the Asayo.</td></tr>
<tr>
<td>Zen Alkani      </td>
<td>       3 </td>
<td>     6 </td>
<td>     7 </td>
<td> Optimized for speed over defense.</td></tr>
<tr>
<td>Spruce Staff    </td>
<td>       6 </td>
<td>     5 </td>
<td>     8 </td>
<td> Age old Alkani optimized for speed. </td></tr>
</table>
<h3 style = "text-indent: 40px">Bard</h3>
<table style="margin-left:40px" border="1 | 0">
<tr>
<td>Name             </td>
<td> Defense </td>
<td> Speed </td>
<td> Level </td>
<td> Description</td></tr>
<tr>
<td>Moss Cape        </td>
<td>       1 </td>
<td>     5 </td>
<td>     1 </td>
<td> Mossy.</td></tr>
<tr>
<td>Grass Cape       </td>
<td>       1 </td>
<td>     6 </td>
<td>     2 </td>
<td> Grasshole.</td></tr>
<tr>
<td>Vine-Fabric-Cape </td>
<td>       1 </td>
<td>     7 </td>
<td>     3 </td>
<td> ...</td></tr>
<tr>
<td>Leaf Cape        </td>
<td>       1 </td>
<td>     8 </td>
<td>     4 </td>
<td> ...</td></tr>
<tr>
<td>Mossy Chestplate </td>
<td>       3 </td>
<td>     6 </td>
<td>     5 </td>
<td> Moss has better acoustics.</td></tr>
<tr>
<td>Leaf Gloves      </td>
<td>       3 </td>
<td>     7 </td>
<td>     6 </td>
<td> Elven weaving.</td></tr>
<tr>
<td>Moss Boots       </td>
<td>       2 </td>
<td>     8 </td>
<td>     7 </td>
<td> It feels very old.</td></tr>
<tr>
<td>Leaf Chestplate  </td>
<td>       4 </td>
<td>     8 </td>
<td>     8 </td>
<td> Made by elves.</td></tr>
</table>

